html, body {
    margin: 0;
    height: 100%;
    font-family: "Press Start 2P", Georgia;
    background-color: black;
}

button {
    font-family: "Press Start 2P", Georgia;
    width: 130px;
    padding: 0.5em;
    margin: 0 5px;
    background-color: black;
    color: aliceblue;
    border: 2px solid white;
}
button:hover {
    color: rgb(66, 135, 245);
}
button:active{
    border-color: rgb(66, 135, 245);
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#result {
    height: 30px;
    width: 350px;
    border: 2px solid white;
    color:aliceblue;
    text-align: center;
    padding: 1em;
    margin: auto;
    margin-top:100px;
}

#buttonsContainer {
    margin: auto;
}

.score{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    align-self: stretch;
    margin:10px;
}

.scoreValue {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
}
.scoreValue, .scoreTittle {
    padding: 10px;
    color: blue;
}
.scoreTittle {
    font-size: 2em;
}