html, body {
    margin: 0;
    height: 100%;
}

button {
    padding: 1em;
    width: 100px;
    margin: 0 10px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#result {
    height: 20px;
    width: 350px;
    border: 2px solid black;
    text-align: center;
    padding: 0.2em;
    margin: auto;
    margin-top:100px;
}

#buttonsContainer {
    margin: auto;
}

.score{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    align-self: stretch;
}

.scoreValue {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}